
<div class="container spacer">
  <button  routerLink="/about" class="btn btn-primary btn1">About</button>
  <button routerLink="/contacts" class="btn btn-primary btn1">Contacts</button>
  <button routerLink="/gallery" class="btn btn-primary">Gallery</button>
</div>

<div>
  <router-outlet>
  
  </router-outlet>
</div>
 