<p></p>
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">About</div>
            <div class="panel-body">
                        <div>
                            <ul class="list-group">
                                <li class="list-group-item">Nom:{{info.nom}}</li>
                                <li class="list-group-item">Email:{{info.email}}</li>
                                <li class="list-group-item">Tel:{{info.tel}}</li>
                            </ul>
                        </div>
                        <!-- <div class="form-group">
                            <label class="control-label">Message:</label>
                            <input type="text" [(ngModel)]="commentaire.message">
                            <button class="btn btn-primary" (click)="onAddcommentaire()">Ajouter Commentaire</button>
                        </div> -->
                        <form #f="ngForm" (ngSubmit)="onAddcommentaire(f.value)">
                            <div class="form-group">
                            <label class="control-label">Message:</label>
                            <input type="text" required name="message" ngModel [(ngModel)]="commentaire.message">
                            <button [disabled]='! f.valid' type="submit" class="btn btn-primary">Ajouter Commentaire</button>
                        </div>
                        </form>
                        <div>
                        <h3>Commentaires:</h3>
                            <ul class="list-group">
                              <li class="list-group-item" *ngFor="let c of comments">
                                  {{c.message}},
                                  <span class="badge">{{c.date|date:'dd/MM/yyyy:HH:mm:ss'}}</span>
                              </li>
                            </ul>
                        </div>
                        <button class="btn btn-primary"> ok</button> 
            </div>
         
    </div>
</div>
